{% extends 'base.html' %}
{% block title %}
Contact Us
{% endblock title %}

{% block head %}


<h1>Contact</h1>

<div class="container mt-2">
    <div class="row">

    <div class="col-md-3"></div>


    <div class="col-md-6">

      
      
    {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

 {% comment %} Contact Us Code {% endcomment %}

 <form action="/contact" method="post">{% csrf_token %}

    <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
    </div>


    <div class="form-group">
    <input type="email" class="form-control mt-2" name="email" placeholder="Enter Your Email">
    </div>
    

    <div class="form-group">
    <input type="number" class="form-control mt-2" name="num" placeholder="Enter Your Number">
    </div>


    <div class="form-group">
    <label for="desc" class="text-warning">How can I help you?</label> 
    <textarea class="form-control mt-2" name="desc" cols="5" rows="3" id="desc"></textarea>
    </div>

    <br>
    <div class="d-grid gap-2">
    <button class="btn btn-warning" type="submit">Submit</button>
    </div>



 </form>

 
  
</div>

<div class="col-md-3"></div>
  </div>


  </div>




{% endblock head %}
          
