{% extends 'base.html' %}
{% block title %}
Enrollment for GYM
{% endblock title %}

{% block head %}

<h1>Join the Gym</h1>
{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
<div class="container mt-2">
    <div class="row">

    <div class="col-md-3"></div>


    <div class="col-md-6">

      
      
    {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

 {% comment %} Contact Us Code {% endcomment %}

 <form action="/join" method="post">{% csrf_token %}

    <div class="form-group">
    <input type="text" class="form-control" 
    name="FullName" 
    placeholder="Enter Your FullName">
    </div>


    <div class="form-group">
    <input type="email" class="form-control mt-2" 
    value="{{user.email}}"       
    name="email" 
    placeholder="Enter Your Email">
    </div>

    <div class="form-group ">
        

        <select class="form-control mt-2" id="gender" name="gender" required>
        <option selected>Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>

        </select>

    </div>



    <div class="form-group">
    <input 
    type="number" 
    class="form-control mt-2"
    value="{{user.username}}" 
    name="PhoneNumber" 
    placeholder="Enter Your Number"
    readonly
    </div>


    <div class="form-group">
        <input 
        type="date" 
        class="form-control mt-2" 
        name="DOB" 
        placeholder="Date of Birth">
    </div>

    <div class="form-group">
        
        
        <select class="form-control mt-2" id="member" name="member" required>
            <option selected>Select Membership plan</option>
            {% for p in Membership %}

    <option value="{{p.plan}} - {{p.price}}">{{p.plan}} - {{p.price}}</option>
    {% endfor %}
    </select>
    </div>


    


    <div class="form-group">
        
        
        <select class="form-control mt-2" id="trainer" name="trainer" required>
            <option selected>Select Trainer</option>
            {% for p in SelectTrainer %}

    <option value="{{p.name}}">{{p.name}}</option>
    {% endfor %}
    </select>
    </div>



   


    <div class="form-group">
        <input 
        type="text" 
        class="form-control mt-2" 
        name="address" 
        placeholder="Address"
        />
    </div>





    

    <br>
    <div class="d-grid gap-2">
    <button class="btn btn-warning" type="submit">Enroll</button>
    </div>



 </form>

 
  
</div>

<div class="col-md-3"></div>
  </div>


  </div>




{% endblock head %}
          
