{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block body %}


<div class="container">
    <div class="row">

    <div class="col-md-4">

    <h1>Enrollment Details</h1>

 {% comment %} Contact Us Code {% endcomment %}
 {% for post in posts %}

 <ul class="list-group">
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Name : {{post.FullName}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Email : {{post.Email}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Gender : {{post.Gender}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>PhoneNumber : {{post.PhoneNumber}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>DOB : {{post.DOB}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Membershipplan : {{post.SelectMembershipplan}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Trainer : {{post.SelectTrainer}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Reference : {{post.Reference}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Adress : {{post.Address}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Amount paid : {{post.paymentStatus}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Price : {{post.Price}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Upcoming Due date : {{post.DueDate}}</h6>  </li>
    <li class="list-group-item list-group-item bg-warning text-dark"><h6>Joining date  : {{post.timeStamp}}</h6>  </li>
    
  </ul>
      {% endfor %}
     
</div>

<div class="col-md-8">

  <div><center><h2 class="display-4 mt-3"><b>Attendance Data</b></h2></center></div>
  <table class="table">
    <thead class="thead-warning">
      </tr>
        <th scope="col">Login</th>
        <th scope="col">Logout</th>
        <th scope="col">Workout</th>
        <th scope="col">Trained By</th>
      </tr>
    </thead>
    <tbody>

      {% for attend in attendance %}

      <tr>
          
          
        <td>{{attend.Selectdate}} </td>
        <td>{{attend.Login}} </td>
        <td>{{attend.Logout}} </td>
        <td>{{attend.SelectWorkout}} </td>
        <td>{{attend.TrainedBy}} </td>

        
        
      <tr>
        {% endfor %}

    </tbody>

  </table>



</div>
    



{% endblock body %}
          

    
        
          