{% extends 'base.html' %}
{% block title %}
SignUp
{% endblock title %}

{% block head %}

<h1>Sign Up Here</h1>

<div class="container mt-2">
    <div class="row">

    <div class="col-md-3"></div>


    <div class="col-md-6">

      
      
    {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/signup" method="post">{% csrf_token %}

    <div class="form-group">
      <input type="number" class="form-control mb-2" name="usernumber" placeholder="Phone number" required>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required>
    </div>

    
    <div class="form-group">
      <input type="password" class="form-control mt-2" name="pass1" placeholder="Password" required>
    </div>

    <div class="form-group">
      <input type="password" class="form-control mt-2" name="pass2" placeholder="Confirm password" required>
    </div>
  
    <br>




    <div class="d-grid gap-2">
      <button class="btn btn-light" type="submit">Signup</button>
    </div>


  </form>
  <br><a href="/login">Already User?</a>
</div>

<div class="col-md-3"></div>
  </div>


  </div>




{% endblock head %}
          
